
<div class="container">
 <h2>マイページ</h2>
 <h2>登録情報</h2>
 <%= link_to customers_information_edit_path do %>
<p>編集する</p>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>氏名</th>
      <th>カナ</th>
      <th>郵便番号</th>
      <th>住所</th>
      <th>電話番号</th>
      <th>メールアドレス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <td>
      <%= current_customer.last_name %> <%= current_customer.first_name %>
   </td>
    <td>
      <%= current_customer.last_name_kana %> <%= current_customer.first_name_kana %>
    </td>
   <td>
      <%= current_customer.postal_code %>
   </td>
   <td>
      <%= current_customer.address %>
   </td>
   <td>
      <%= current_customer.telephone_number %>
    <td>
      <%= current_customer.email %>
   </td>
   </td>
  </tr>
  </tbody>
</table>

<h2>配送先</h2>
<%= link_to orders_confirmation_path do %>
<p>一覧を見る</p>
<% end %>

<h2>注文履歴</h2>
<%= link_to orders_path do %>
<p>一覧を見る</p>
<% end %>

</div>