<div class="container">

<h1>商品一覧</h1>


<% @items.each do |item| %>
<p><%= item.id %></p>
<%= link_to admin_item_path(item.id) do %>
<p><%= item.name %></p>
<% end %>
<p><%= item.price %></p>
<% end %>
<%= paginate @items %>

</div>