<div class="container">
 <h2>注文履歴詳細</h2>

<table class="table">
  <thead>
    <tr>
      <th>注文日</th>
      <th>配送先</th>
      <th>支払金額</th>
      <th>ステータス</th>
      <th>商品合計</th>
      <th>配送料</th>
      <th>ご請求額</th>
    </tr>
  </thead>

  <tbody>
    <% @order.each do |order| %>
    <tr>
    <td>
      <%= order.created_at %>
   </td>
    <td>
      <%= order.address %>
    </td>
    <td>
       <%= order.method_of_payment %>
  　</td>
  <td>
  <%= cart_item.item.price * cart_item.amount %>
  </td>

  <td>
  <%= @order.delivery_charge %>
  </td>

  <td>
  <%= @total %>
  </td>
  </tr>
  　<% end %>
  　</tbody>
</table>


<table class="table">
  <thead>
    <tr>
      <th>商品</th>
      <th>単価</th>
      <th>個数</th>
      <th>小計</th>
    </tr>
  </thead>

  <tbody>
    <% @cart_items.each do |cart_item| %>
    <tr>
    <td>
      <%= cart_item.item.name %>
   </td>
    <td>
      <%= cart_item.item.price %>
    </td>
    <td>
       <%= cart_item.amount %>
  　</td>
  <td>
  <%= cart_item.item.price * cart_item.amount %>
  </td>
  </tr>
  　<% end %>
  　</tbody>
</table>